
<div class="row">
	<div class="col-8 ml-auto mr-auto message-box">
		<div class="chat-title">
			<h1 class="text-center"><%= chat.name %></h1>
		</div>
		<div class="content">
			<% chat.messages.forEach(function(message) { %>
				<% if(message.message_user.toString() == user._id.toString()) { %>
					<div class="green message fl-r mb-3">
						<span><%= message.message %></span>
					</div>
				<% } else { %>
					<div class="blue message fl-l">
						<span><%= message.message %></span>
					</div>
				<% } %>
			<% }); %>
		</div>
		<div class="writing">
			<form method="POST" action="">
				<textarea id="message" name="message" required placeholder="Type your message here" rows="4"></textarea>
				<input type="hidden" name="start_user" value="<%= chat.start_user %>">
				<input type="hidden" name="chat_name" value="<%= chat.name %>">
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>