
<h1 class="text-center"><%= title %></h1>

<div class="container">
	<div class="row">
		<div class="text-center full-width">
			<h3 class="red">Total Copies: <%= copy_count %></h3>
			<h5 class="green">Copies Available: <%= copy_count_available %></h5>
		</div>
		<div class="col-3 text-center">
			<h4 class="green">Available: </h4>
			<dl>
				<% copy_available.forEach(function(copy) { %>
					<% if(copy.game != null) { %>
					<dt><a href="<%= copy.url %>" class="black"><%= copy.game.title %></a>(<%= copy._id.toString().substring(0, 10) %>...)</dt>
					<% } %>
				<% }); %>
			</dl>
		</div>
		<div class="col-3 text-center">
			<h4 class="red-2">Loaned: </h4>
			<dl>
				<% copy_loaned.forEach(function(copy) { %>
					<% if(copy.game != null) { %>
					<dt><a href="<%= copy.url %>" class="black"><%= copy.game.title %></a>(<%= copy._id.toString().substring(0, 10) %>...)</dt>
					<dd>Available on <%= copy.due_back_format %></dd>
					<% } %>
				<% }); %>
			</dl>
		</div>
		<div class="col-3 text-center">
			<h4 class="red-2">Reserved: </h4>
			<dl>
				<% copy_reserved.forEach(function(copy) { %>
					<% if(copy.game != null) { %>
					<dt><a href="<%= copy.url %>" class="black"><%= copy.game.title %></a>(<%= copy._id.toString().substring(0, 10) %>...)</dt>
					<dd>Available on <%= copy.due_back_format %></dd>
					<% } %>
				<% }); %>
			</dl>
		</div>
		<div class="col-3 text-center">
			<h4 class="red-2">Maintenance: </h4>
			<dl>
				<% copy_maintenance.forEach(function(copy) { %>
					<% if(copy.game != null) { %>
					<dt><a href="<%= copy.url %>" class="black"><%= copy.game.title %></a>(<%= copy._id.toString().substring(0, 10) %>...)</dt>
					<dd>Available on <%= copy.due_back_format %></dd>
					<% } %>
				<% }); %>
			</dl>
		</div>
	</div>
</div>